body{
    margin:0;
    padding:0;
    font-size:14px;
    color:#A5A5A5;
    line-height:16px;
    background-color:#fff;
    font-family:"Î¢ÈíÑÅºÚ";
}
h1,h2,h3,h4,h5,h6,p,span,strong,em,i,s{
    padding:0;
    margin:0;
    color:#000;
    font-style:"Î¢ÈíÑÅºÚ";
    font-weight:normal;
    text-decoration:none;
}
a:link{
    color:#000000;
    text-decoration:none;
    float:none;
}
a:visited{
    color:#0000cc;
    text-decoration:none;
    float:none;
}
a:hover{
    color:#cc0000;
    text-decoration:underline;
    background-color:#ffffff;
    background-repeat:repeat-x;
}
ul,li{
    padding:0;
    margin:0;
    list-style:none;
}
img{
    border:none;
}
.topline{
    width:100%;
    height:32px;
    line-height:32px;
    margin:0 auto;
    padding:0;
    background-color:#f1f1f1;

}
.topline s i{
    margin-left:100px;
    color#666666;
    font-size:12px;
}
.topline s{
    height:32px;
    line-height:32px;
    font:12px;
    font-family:"Î¢ÈíÑÅºÚ";
    float:left;
}
.topline img{
    repeat:no-reoeat;
    margin-top:-135px;
}
.topline-r span{
    font-size:12px;
    font-family:"Î¢ÈíÑÅºÚ";
}
.red{
    font-size:12px;
    cursor:pointer;
    color:red;
    display:inline-block;
}
.topline-r em{
    width:1px;
    height:12px;
    line-height:12px;
    background-color:#666666;
}
.topline-r{
    float:right;
}

